@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/CreatoDisplay-Black.otf') format('opentype');
    font-weight: 900; /* Bisa gunakan 900 untuk Black */
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: 700; /* Gunakan 700 untuk Bold */
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/CreatoDisplay-Medium.otf') format('opentype');
    font-weight: 500; /* Medium = 500 */
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/CreatoDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800; /* ExtraBold = 800 */
    font-style: normal;
}
:root {
    --border-clr: rgba(136, 136, 136, 0.3);
    --text-5-clr: rgba(136, 136, 136, 1);
    --second-clr: rgba(248, 99, 142, 1);
    --container-clr: rgba(244, 243, 243, 1);
    --main-font: 'MyFont', sans-serif;
    --text-clr: rgba(68, 68, 68, 1);
    --text-2-clr: rgba(153, 228, 4, 1);
    --text-3-clr: rgba(110, 110, 110, 1);
    --text-4-clr: rgba(85, 85, 85, 1);
}

.font-Creato {
    font-family: var(--main-font);
}

.dot::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 999px;
    background: var(--text-5-clr);
    position: absolute;
    top: 50%;
    left: -0.5rem; /* Pindahkan ke tengah secara horizontal */
    transform: translateY(-50%); /* Kompensasi tinggi dot */
}

.plus::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0.5rem;
    left: -1rem;
    background:
        linear-gradient(to right, var(--text-3-clr) 0%, var(--text-3-clr) 100%)
            no-repeat center / 15px 2px,
        linear-gradient(to bottom, var(--text-3-clr) 0%, var(--text-3-clr) 100%)
            no-repeat center / 2px 15px;
}
.btn:hover {
    animation: jelly 0.9s both;
}

.contact-social {
    display: flex;
    align-items: center;
    color: var(--text-3-clr);
    transition: color 500s ease-in-out;
}

.contact-social:hover {
    color: white;
}

.contact-social__icon {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    border-radius: 50% 0 50% 0;
    transition: color 0.4s;
}

.contact-social__icon i {
    position: relative;
    transition: transform 500s ease-in-out;
    z-index: 3;
    color: var(--black-color);
}

.contact-social:hover .contact-social__icon i {
    color: white;
    transform: rotateY(360deg);
}

.contact-social__icon::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 100%;
    transition: 0.5s;
    z-index: 2;
}

/* Warna khusus untuk setiap item */
.contact-social:nth-child(1) .contact-social__icon::before {
    background: linear-gradient(45deg, #1a5f1a, #25d366, #0d8a0d);
}
.contact-social:nth-child(2) .contact-social__icon::before {
    background-color: #25d366;
}
.contact-social:nth-child(3) .contact-social__icon::before {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}
.contact-social:nth-child(4) .contact-social__icon::before {
    background-color: #ea4335;
}

.contact-social:hover .contact-social__icon::before {
    top: 0;
}

@keyframes jelly {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
@media screen and (width <= 610px) {
    .more-btn {
        font-size: 0.5rem !important;
    }
}
@media screen and (width >= 48rem) {
    .dot::before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 999px;
        background: var(--text-5-clr);
        position: absolute;
        top: -1.5rem;
        left: 50%; /* Pindahkan ke tengah secara horizontal */
        transform: translateX(-50%); /* Kompensasi lebar dot */
    }
}
@import 'tailwindcss';
